#bands {
  background-color: transparent;
  color-scheme: dark;
  position: absolute;
  display: grid;
  overflow-y: auto;
  grid-template-rows: 230px;
  grid-template-columns: 280px 280px;
  row-gap: 10px;
  width: 590px;
  height: 644px;
  right: 2px;
  top: 40px;
  left: 33px;
}

.band-card {
  background-color: transparent;
  display: inline-grid;
  width: 210px;
  height: 230px;
  right: 100px;
  top: 100px;
  padding: 5px;
}

.band-image {
  height: auto;
  width: 230px;
  border: 3px solid rgb(0, 0, 0);
}

.band-name {
  width: auto;
  font-family: 'DotGothic16', sans-serif;
  font-size: 14pt;
}
