#bio {
  background-color: transparent;
  color-scheme: dark;
  position: absolute;
  overflow-y: auto;
  width: 590px;
  height: 640px;
  right: 2px;
  top: 40px;
  font-family: 'DotGothic16', sans-serif;
}

#about {
  position: absolute;
  border: 3px solid rgb(162, 1, 255);
  border-radius: 10px;
  top: 25px;
  left: 30px;
  right: 30px;
}

#youtube-div {
  position: absolute;
  top: 455px;
  right: 15px;
  left: 15px;
}

.player {
  border: 3px solid rgb(162, 1, 255);
  border-radius: 10px;
  margin-top: 15px;
}

.prompt {
  color: #da00cf;
  font-size: 25px;
}

.value {
  color: white;
  font-size: 25px;
}
