#bio {
  background-color: transparent;
  color-scheme: dark;
  position: absolute;
  display: grid;
  overflow-y: auto;
  grid-template-rows: 230px;
  grid-template-columns: 280px 280px;
  row-gap: 10px;
  width: 590px;
  height: 640px;
  right: 2px;
  top: 40px;
}
