@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Metal+Mania&display=swap');

#diary-container {
  background-color: transparent;
  color-scheme: dark;
  position: absolute;
  display: grid;
  overflow-y: auto;
  grid-template-rows: auto;
  grid-template-columns: 550px;
  row-gap: 10px;
  width: 590px;
  height: 640px;
  right: 2px;
  top: 40px;
}

.diary-card {
  background-color: transparent;
  text-align: left;
  display: inline-grid;
  border-bottom: 3px solid ;
  padding-left: 20px;
  margin-left: 40px;
}

.diary-title {
  margin-bottom: -15px;
  font-size: 16pt;
  font-family: 'DotGothic16', sans-serif;
}

.diary-date {
  font-size: 14pt;
  font-family: 'DotGothic16', sans-serif;
}


.diary-body {
  font-size: 14pt;
  font-family: 'DotGothic16', sans-serif;
  color: white;
}

