#nav-bar {
  background: transparent;
  position: relative;
  width: 450px;
  height: 25px;
  right: -70px;
  top: -320px;
  /* font-size: 20px; */
}

.nav-link {
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  color: #da00cf;
}
