#top {
  position: absolute;
  width: 590px;
  height: 590px;
  background-color: black;
  right: 2px;
  top: 68px;
}

.friend-card-image {
  width: 175px;
}

.friend-cards {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  height: 541px;
  font-family: 'DotGothic16', sans-serif;
}

#column-1 {
  width: 50%;
  text-align: center;
  color: white;
  
}
#column-2 {
  width: 50%;
  text-align: center;
  color: white;
}

.friend-card {
padding: 10px;
}

#friend-header {
  font-family: 'DotGothic16', sans-serif;
  font-size: 20pt;
}


