#top {
  position: absolute;
  width: 590px;
  height: 610px;
  background-color: black;
  right: 2px;
  top: 68px;
  color-scheme: dark;
  overflow-y: auto;
}

.friend-card-image {
  width: 175px;
}

.friend-cards {
  display: flex;
  flex-direction: row;
  /* overflow: scroll; */
  height: 550px;
}

#column-1 {
  width: 50%;
  text-align: center;
}
#column-2 {
  width: 50%;
  text-align: center;
}

.friend-card {
  padding: 10px;
}
