#about-me {
  background-color: hsl(0, 0%, 0%);
  grid-row: 2;
  grid-column: 1;
  position: relative;
}

#name-div {
  position: absolute;
  width: 300px;
  height: 50px;
  right: 47px;
  top: -20px;
  font-size: 30px;
}

#profile-image {
  width: 220px;
  height: auto;
  margin-left: 20px;
  position: absolute;
  border-radius: 10px;
  border: 3px solid;
}

#bio-div {
  position: absolute;
  width: 70px;
  height: 200px;
  right: 85px;
  top: 80px;
  font-size: 18px;
  list-style-type: none;
}

#mood-div {
  position: absolute;
  width: 150px;
  height: 50px;
  right: 125px;
  top: 320px;
  font-size: 18px;
}
