#name-div {
  position: absolute;
  width: 300px;
  height: 50px;
  right: 45px;
  top: -5px;
  font-size: 20px;
  color: rgb(255, 0, 242);
}

#profile-image {
  position: absolute;
  width: 180px;
  height: auto;
  margin-left: 30px;
  border-radius: 10px;
  border: 3px solid;
}

#bio-div {
  position: absolute;
  width: 150px;
  height: 200px;
  right: 30px;
  top: 100px;
}

#mood-div {
  position: absolute;
  width: 150px;
  height: 50px;
  right: 200px;
  top: 325px;
  font-size: 18px;
}

#bio-list {
  list-style-type: none;
  font-size: 18px;
  text-align: left;
}
