@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Metal+Mania&display=swap');

#main-div {
  background-image: url("/src/img/skull-pattern-2.png");
  background-attachment: fixed;
  justify-content: center;
  background-repeat: repeat;
  display: grid;
  grid-template-rows: 70px 400px 60px 600px;
  grid-template-columns: 400px 600px;
  row-gap: 30px;
  column-gap: 30px;
  color-scheme: dark;
  height: 100vh;
  height: 1750px;
}

#dynamic-container-container {
  grid-row: auto / span 2;
  grid-column: 2;
  position: relative;
}

.child-div {
  display: flex;
  align-items: center;
  border: 3px solid;
  border-radius: 10px;
  background-color: hsl(0, 0%, 0%);
  text-align: center;
  color: rgb(162, 1, 255);
  /* font-family: Ink Free; */
}

#about-me-div {
  background-color: hsl(0, 0%, 0%);
  grid-row: 2;
  grid-column: 1;
  position: relative;
}

#spotify-container {
  grid-row: 2;
  grid-column: 2;
  justify-content: center;
}

#spotify-player {
  border-radius: 10px;
  width: 595px;
  height: 394px;
}

#page-url {
  grid-row: 3;
  grid-column: 1;
  justify-content: center;
  font-family: 'DotGothic16', sans-serif;
  font-size: 13pt;
}

#comments {
  display: block;
  overflow-y: auto;
  align-items: center;
  grid-row: 4;
  grid-column: 1;
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  font-family: 'DotGothic16', sans-serif;
  font-size: 16pt;
}

.comment {
  border-radius: 10px;
  margin: 10px;
  text-align: left;
  padding-left: 15px;
}

#comment-title {
  text-decoration: underline;
  color: #da00cf;
  font-family: 'DotGothic16', sans-serif;
  font-size: 15pt;
}
#comment-body {
  font-style: italic;
  color: white;
  font-family: 'DotGothic16', sans-serif;
  font-size: 14pt;
}

#form-hide-show {
  margin-top: 15px;

  background-color: rgb(162, 1, 255);
  border-radius: 4px;
}

#url {
  color: white;
}