#main-div {
  background-image: url("/home/tyler/code/phase-2/emma-tyler-project/src/img/skull-pattern.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  justify-content: center;
  display: grid;
  grid-template-rows: 70px 400px 60px 600px;
  grid-template-columns: 400px 600px;
  row-gap: 30px;
  column-gap: 30px;
}

.child-div {
  display: flex;
  align-items: center;
  border: 3px solid;
  border-radius: 10px;
  background-color: hsl(0, 0%, 0%);
  text-align: center;
  /* background-image: url("/home/tyler/code/phase-2/emma-tyler-project/src/img/skull-pattern.jpg"); */
  color: rgb(162, 1, 255);
}

#about-me-div {
  background-color: hsl(0, 0%, 0%);
  grid-row: 2;
  grid-column: 1;
  position: relative;
}

#spotify-container {
  grid-row: 2;
  grid-column: 2;
  justify-content: center;
}

#spotify-player {
  border-radius: 10px;
  width: 595px;
  height: 395px;
}

#page-url {
  grid-row: 3;
  grid-column: 1;
  justify-content: center;
}

#comments {
  display: block;
  overflow-y: auto;
  align-items: center;
  grid-row: 4;
  grid-column: 1;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.comment {
  border-radius: 10px;
  margin: 10px;
  text-align: left;
}

#comment-title {
  font-size: 20px;
  text-decoration: underline;
  color: rgb(255, 0, 242);
}
#comment-body {
  font-style: italic;
  color: rgb(255, 0, 140);
}

#dynamic-container-container {
  grid-row: 3 / span 4;
  grid-column: 2;
  position: relative;
}

#form-hide-show {
  margin-top: 15px;

  background-color: rgb(162, 1, 255);
  border-radius: 4px;
}
